---
import { Tabs } from 'astro-tabs';
const { first,second,third } = Astro.props;
---

<section>


<Tabs class="pass-your-own-class">
  <Fragment slot="tab-1">Skill 1</Fragment>
  <Fragment slot="tab-2">Skill 2</Fragment>
  <Fragment slot="tab-3">Skill 3</Fragment>

  <Fragment>
    <h3>{first}</h3>
    <slot name="panel-1"/>
  </Fragment>

  <Fragment slot="panel-2">
    <h3>{second}</h3>
    <slot name="panel-2"/>
  </Fragment>

  <Fragment slot="panel-3">
    <h3>{third}</h3>
    <slot name="panel-3"/>
  </Fragment>
</Tabs>

</section>

<style>
  /* THIS IS FOR MOST OF YOUR STYLING */
.tab-wrapper {

}

</style>
<style is:global>
/* THIS IS ONLY FOR THE TAB button STYLING */
.tab{
  padding:1rem;

}


.panel{

}



</style>
